html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

div#service-map_table_add-edit {
	display: none;
}

div#service-map_table_add_edit > table {
	background-color: white;
}

tr.service-map_table_right > th {
	text-align: right;
}

tr.service-map_table_center > th {
	text-align: center;
}

tr.service-map_table_center > th > input[type="button"] {
	width: 95%;
}

div#service-map {
	width: 100%;
}

div#service-map_top {
	display: flex;
}

div#service-map_canvas {
	background-color: pink;

	width: 50%;
	height: 100%;
	min-height: 500px;
}

div#service-map_details {
	width: 50%;

	padding: 15px;
}


div.service-map_details_data {
	font-weight: bold;
}

div#service-map_details_title {
	text-align: center;
}
